In [1]:
import sqlite3

In [2]:
# connect SQLite databases


connection=sqlite3.connect("chinook.db")
connection

In [3]:
cursor=connection.cursor()

In [4]:
# create a table

cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS users(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        username TEXT NOT NULL,
        password TEXT NOT NULL
    )
"""
)

In [6]:
cursor.execute(
    """
    select * from users
"""
)

In [7]:
cursor.execute(
    '''
      insert into users(username,password) values('Ritesh' ,'ritesh')
    '''
)

# commit changes

connection.commit()

In [9]:
# query the table

cursor.execute(
    """
    select * from users
"""
)

# Fetch all the results from the cursor
results = cursor.fetchall()

# Print the results
print(results)

[(1, 'Ritesh', 'ritesh')]

In [16]:
# update data in table

cursor.execute('''
     update users
     set username='Ritesh Kumar' where username='Ritesh'
''' )

connection.commit()

[]

In [17]:
# query the table

cursor.execute(
    """
    select * from users
"""
)

# Fetch all the results from the cursor
results = cursor.fetchall()

# Print the results
print(results)

[(1, 'Ritesh Kumar', 'ritesh')]

In [18]:
# insert more data

cursor.execute(
    '''
      insert into users(username,password)
            values('Rahul' ,'rahul')
    '''
)

cursor.execute(
    '''
      insert into users(username,password)
            values('Ragini' ,'ragini')
    '''
)

# commit changes

connection.commit()

In [20]:
cursor.execute(
    """
    select * from users
"""
)

# Fetch all the results from the cursor
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

(1, 'Ritesh Kumar', 'ritesh')
(2, 'Rahul', 'rahul')
(3, 'Ragini', 'ragini')

In [27]:
# delete data from table


cursor.execute('''
     delete from users
            where password='ragini'
''' )

connection.commit()

# cursor.execute('''
#      delete from users
#             where username='Rahul'
# ''' )

# connection.commit()

In [28]:
cursor.execute(
    """
    select * from users
"""
)

# Fetch all the results from the cursor
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

(1, 'Ritesh Kumar', 'ritesh')
(2, 'Rahul', 'rahul')

In [30]:
# working with sales data sqlite3

connection=sqlite3.connect("sales.db")
connection

In [32]:
cursor=connection.cursor()

In [33]:
cursor.execute('''
  CREATE TABLE IF NOT EXISTS  sales(

    id INTEGER PRIMARY KEY ,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
  )
''')


# insert data into table

sales=[
    (1,'2022-01-01','Product A',100,'Region A'),
    (2,'2022-01-02','Product B',50,'Region B'),
    (3,'2022-01-03','Product C',200,'Region C'),
    (4,'2022-01-04','Product A',150,'Region A'),
]


connection.commit()

In [34]:
cursor.executemany(
    '''
        insert into sales(id,date,product,sales,region)
                  values(?,?,?,?,?)
    ''',sales
)

connection.commit()

In [35]:
# query from table

cursor.execute(
    '''
        select * from sales
    '''
)

results=cursor.fetchall()

for row in results:
    print(row)

(1, '2022-01-01', 'Product A', 100, 'Region A')
(2, '2022-01-02', 'Product B', 50, 'Region B')
(3, '2022-01-03', 'Product C', 200, 'Region C')
(4, '2022-01-04', 'Product A', 150, 'Region A')

In [36]:
# close the connection

connection.close()

In [38]:
# query from table

cursor.execute(
    '''
        select * from sales
    '''
)

results=cursor.fetchall()

for row in results:
    print(row)


    # probably get an error coz we have succesfully closed database connection

ProgrammingError: Cannot operate on a closed database.