<a href="https://colab.research.google.com/github/MRITESH108/DataScience-Practice/blob/main/Practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
data={
    'Name':["Ritesh","Rahul","Ragini"],
    'Age':[21,25,18]
}
df=pd.DataFrame(data)
print(df)

     Name  Age
0  Ritesh   21
1   Rahul   25
2  Ragini   18

In [5]:
df=pd.read_csv('people-10000.csv')
print(df.head(5))

   Index          User Id First Name Last Name     Sex  \
0      1  5f10e9D33fC5f2b       Sara   Mcguire  Female
1      2  751cD1cbF77e005     Alisha    Hebert    Male
2      3  DcEFDB2D2e62bF9  Gwendolyn  Sheppard    Male
3      4  C88661E02EEDA9e   Kristine    Mccann  Female
4      5  fafF1aBDebaB2a6      Bobby   Pittman  Female

                         Email                  Phone Date of birth  \
0           tsharp@example.net     (971)643-6089x9160    1921-08-17
1   vincentgarrett@example.net  +1-114-355-1841x78347    1969-06-28
2  mercadojonathan@example.com             9017807728    1915-09-25
3        lindsay55@example.com  +1-607-333-9911x59088    1978-07-27
4    blevinsmorgan@example.com             3739847538    1989-11-17

                           Job Title
0              Editor, commissioning
1                 Broadcast engineer
2                   Industrial buyer
3              Multimedia specialist
4  Planning and development surveyor

In [7]:
df=pd.read_csv('people-10000.csv')
print(df.tail(5))
df['User Id']

      Index          User Id First Name  Last Name     Sex  \
9995   9996  D66F0e4EdFc35e6       Tina    Sherman    Male
9996   9997  c753d8B9F5b6054       Earl   Jennings  Female
9997   9998  Fb2c7daAdD82dAE      Ellen  Dominguez  Female
9998   9999  34D88Ffc743Ca5B       Emma      Clark    Male
9999  10000  82D540ce0BE556f    Katrina   Schwartz  Female

                            Email                   Phone Date of birth  \
9995  bartlettcolleen@example.org      (455)476-4044x5755    1974-07-28
9996     andreabenton@example.com            009.056.6505    1932-08-20
9997    michaelayoder@example.net        409-428-4297x469    1966-06-06
9998      pstrickland@example.com            849-868-8653    1907-05-09
9999         andres56@example.org  001-874-330-5546x16770    1935-08-14

                     Job Title
9995  Scientist, physiological
9996         Warehouse manager
9997                    Lawyer
9998     Accounting technician
9999         Drilling engineer

0       5f10e9D33fC5f2b
1       751cD1cbF77e005
2       DcEFDB2D2e62bF9
3       C88661E02EEDA9e
4       fafF1aBDebaB2a6
             ...
9995    D66F0e4EdFc35e6
9996    c753d8B9F5b6054
9997    Fb2c7daAdD82dAE
9998    34D88Ffc743Ca5B
9999    82D540ce0BE556f
Name: User Id, Length: 10000, dtype: object

In [8]:
df

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,5f10e9D33fC5f2b,Sara,Mcguire,Female,tsharp@example.net,(971)643-6089x9160,1921-08-17,"Editor, commissioning"
1,2,751cD1cbF77e005,Alisha,Hebert,Male,vincentgarrett@example.net,+1-114-355-1841x78347,1969-06-28,Broadcast engineer
2,3,DcEFDB2D2e62bF9,Gwendolyn,Sheppard,Male,mercadojonathan@example.com,9017807728,1915-09-25,Industrial buyer
3,4,C88661E02EEDA9e,Kristine,Mccann,Female,lindsay55@example.com,+1-607-333-9911x59088,1978-07-27,Multimedia specialist
4,5,fafF1aBDebaB2a6,Bobby,Pittman,Female,blevinsmorgan@example.com,3739847538,1989-11-17,Planning and development surveyor
...,...,...,...,...,...,...,...,...,...
9995,9996,D66F0e4EdFc35e6,Tina,Sherman,Male,bartlettcolleen@example.org,(455)476-4044x5755,1974-07-28,"Scientist, physiological"
9996,9997,c753d8B9F5b6054,Earl,Jennings,Female,andreabenton@example.com,009.056.6505,1932-08-20,Warehouse manager
9997,9998,Fb2c7daAdD82dAE,Ellen,Dominguez,Female,michaelayoder@example.net,409-428-4297x469,1966-06-06,Lawyer
9998,9999,34D88Ffc743Ca5B,Emma,Clark,Male,pstrickland@example.com,849-868-8653,1907-05-09,Accounting technician
9999,10000,82D540ce0BE556f,Katrina,Schwartz,Female,andres56@example.org,001-874-330-5546x16770,1935-08-14,Drilling engineer

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          10000 non-null  int64
 1   User Id        10000 non-null  object
 2   First Name     10000 non-null  object
 3   Last Name      10000 non-null  object
 4   Sex            10000 non-null  object
 5   Email          10000 non-null  object
 6   Phone          10000 non-null  object
 7   Date of birth  10000 non-null  object
 8   Job Title      10000 non-null  object
dtypes: int64(1), object(8)
memory usage: 703.3+ KB
None

In [10]:
print(df)

      Index          User Id First Name  Last Name     Sex  \
0         1  5f10e9D33fC5f2b       Sara    Mcguire  Female
1         2  751cD1cbF77e005     Alisha     Hebert    Male
2         3  DcEFDB2D2e62bF9  Gwendolyn   Sheppard    Male
3         4  C88661E02EEDA9e   Kristine     Mccann  Female
4         5  fafF1aBDebaB2a6      Bobby    Pittman  Female
...     ...              ...        ...        ...     ...
9995   9996  D66F0e4EdFc35e6       Tina    Sherman    Male
9996   9997  c753d8B9F5b6054       Earl   Jennings  Female
9997   9998  Fb2c7daAdD82dAE      Ellen  Dominguez  Female
9998   9999  34D88Ffc743Ca5B       Emma      Clark    Male
9999  10000  82D540ce0BE556f    Katrina   Schwartz  Female

                            Email                   Phone Date of birth  \
0              tsharp@example.net      (971)643-6089x9160    1921-08-17
1      vincentgarrett@example.net   +1-114-355-1841x78347    1969-06-28
2     mercadojonathan@example.com              9017807728    1915-09-25
3           lindsay55@example.com   +1-607-333-9911x59088    1978-07-27
4       blevinsmorgan@example.com              3739847538    1989-11-17
...                           ...                     ...           ...
9995  bartlettcolleen@example.org      (455)476-4044x5755    1974-07-28
9996     andreabenton@example.com            009.056.6505    1932-08-20
9997    michaelayoder@example.net        409-428-4297x469    1966-06-06
9998      pstrickland@example.com            849-868-8653    1907-05-09
9999         andres56@example.org  001-874-330-5546x16770    1935-08-14

                              Job Title
0                 Editor, commissioning
1                    Broadcast engineer
2                      Industrial buyer
3                 Multimedia specialist
4     Planning and development surveyor
...                                 ...
9995           Scientist, physiological
9996                  Warehouse manager
9997                             Lawyer
9998              Accounting technician
9999                  Drilling engineer

[10000 rows x 9 columns]

In [13]:
df.iat[2,2]

'Gwendolyn'